.form-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    line-height: 25px;
}

.book-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

